@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.02) 1px, transparent 1px);
  background-size: 20px 20px;
}

@layer base {
  :root {
    --background: 213 14% 94%; /* ECEEF0 from #DDD3D1 (adjusted) */
    --foreground: 214 18% 21%; /* #292d3e from #5d687e (darker) */
    --card: 210 14% 96%; /* F5F5F7 from #DDD3D1 (lighter) */
    --card-foreground: 214 18% 21%; /* #292d3e from #5d687e (darker) */
    --popover: 210 14% 96%;
    --popover-foreground: 214 18% 21%;
    --primary: 214 18% 43%; /* #5d687e */
    --primary-foreground: 0 0% 98%;
    --secondary: 219 23% 72%; /* #a4b5cd */
    --secondary-foreground: 214 18% 21%;
    --muted: 213 14% 94%;
    --muted-foreground: 214 18% 43%;
    --accent: 219 28% 63%; /* #869bbb */
    --accent-foreground: 0 0% 98%;
    --destructive: 353 17% 62%; /* #b48a8f */
    --destructive-foreground: 0 0% 98%;
    --border: 20 21% 85%; /* #ddd3d1 */
    --input: 20 21% 85%;
    --ring: 214 18% 43%;
    --radius: 0.5rem;
    --chart-1: 214 18% 43%;
    --chart-2: 219 28% 63%;
    --chart-3: 353 17% 62%;
    --chart-4: 219 23% 72%;
    --chart-5: 214 18% 30%;
  }

  .dark {
    --background: 214 18% 11%;
    --foreground: 210 14% 96%;
    --card: 214 18% 11%;
    --card-foreground: 210 14% 96%;
    --popover: 214 18% 11%;
    --popover-foreground: 210 14% 96%;
    --primary: 219 28% 63%; /* #869bbb */
    --primary-foreground: 214 18% 11%;
    --secondary: 214 18% 21%; /* #292d3e from #5d687e */
    --secondary-foreground: 0 0% 98%;
    --muted: 214 18% 21%;
    --muted-foreground: 210 14% 75%;
    --accent: 214 18% 43%; /* #5d687e */
    --accent-foreground: 0 0% 98%;
    --destructive: 353 17% 62%; /* #b48a8f */
    --destructive-foreground: 0 0% 98%;
    --border: 214 18% 21%;
    --input: 214 18% 21%;
    --ring: 219 28% 63%;
    --chart-1: 219 28% 63%;
    --chart-2: 214 18% 43%;
    --chart-3: 353 17% 62%;
    --chart-4: 219 23% 72%;
    --chart-5: 210 14% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
