@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 271 91% 65%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48.1%;
    --chart-1: 0 72% 51%;
    --chart-2: 195 85% 55%;
    --chart-3: 350 90% 65%;
    --chart-4: 220 90% 65%;
    --chart-5: 30 90% 65%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 271 91% 65%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48.1%;
    --chart-1: 0 72% 51%;
    --chart-2: 195 85% 55%;
    --chart-3: 350 90% 65%;
    --chart-4: 220 90% 65%;
    --chart-5: 30 90% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmrm0p-hx2eRzawqesGdEU-rjyQeRrqZX3Tg&s');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-foreground;
  }
  p {
    @apply text-foreground;
  }
  a:hover {
    @apply text-primary;
  }
}

@layer components {
  .text-h1 { @apply text-4xl font-bold tracking-tight text-accent sm:text-5xl; }
  .text-h2 { @apply text-3xl font-bold tracking-tight text-accent sm:text-4xl; }
  .text-h3 { @apply text-2xl font-bold tracking-tight text-accent; }
  .text-page-title { @apply text-4xl font-bold tracking-tight text-accent sm:text-5xl; }
  .text-section-title { @apply font-headline text-3xl font-bold tracking-tighter sm:text-5xl text-accent; }
  .text-card-title { @apply text-2xl font-semibold leading-none tracking-tight text-accent; }
}
